:root {
  font-synthesis: none;
  --background: #e5e5e5;
  --background-primary: #fca311;
  --background-secondary: #14213d;
  --text-primary: #14213d;
  --text-secondary: #fca311;
  --text-light: #ffffff;
  --accent: purple;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

* {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: flex;
  place-items: center;
  place-content: center;
  min-height: 100vh;
  background: var(--background);
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.square {
  height: 100px;
  width: 100px;
  border: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 70px;
  line-height: 70px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  cursor: pointer;
}

.next-player {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
  width: fit-content;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  background: var(--text-light);
  text-align: center;
}

.replay {
  font-size: 25px;
  height: 35px;
  padding: 0 5px !important;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.outcome {
  position: fixed;
  display: grid;
  place-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(4, 4, 64, 0.4);
  top: 0;
  left: 0;

  .result {
    height: fit-content;
    background-color: var(--background);
    padding: 20px 30px;
    width: 60%;
    border-radius: 10px;
  }
}

.player {
  &-x {
    @extend .square;
    color: var(--text-secondary);
  }

  &-o {
    @extend .square;
    color: var(--text-primary);
  }
}

.button {
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
  &--primary {
    background: var(--background-primary);
  }

  &--secondary {
    background: var(--background-secondary);
    color: var(--text-light);
  }
}

.top-nav {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  text-align: left;
  padding: 10px;

  .x {
    font-size: 30px;
    color: #14213d;
  }
  .o {
    font-size: 30px;
    color: #fca311;
  }
}
