:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  --background: #e5e5e5;
  --text-primary: #14213d;
  --text-secondary: #fca311;
  --accent: purple;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}

body {
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--background);
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.square {
  height: 100px;
  width: 100px;
  border: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 70px;
  line-height: 70px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  box-shadow: 0px 4px 0px 0px rgba(207, 207, 207, 1);
  cursor: pointer;
}

.outcome {
  position: fixed;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(4, 4, 64, 0.4);
  top: 0;
  left: 0;

  .result {
    height: fit-content;
    background-color: var(--background);
    padding: 20px 30px;
    width: 60%;
    border-radius: 10px;
  }
}

.player {
  &-x {
    @extend .square;
    color: var(--text-secondary);
  }

  &-o {
    @extend .square;
    color: var(--text-primary);
  }
}
